body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form button {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 30px;
    height: 30px;
    border: none;
}
form input {
    padding-left: 10px;
    border-top-right-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
    border-style: none;
    border-radius: 0px;
    background: #C6C6C6;
    width: 230px;
    height: 30px;
    border-bottom: none;
    border: none;
}

.section-inicio {
    background-color: #00ABBF;
    height: 510px;
}
.paragraph-title {
    max-width: 530px;
    margin: 0 auto;
}

.btn {
    margin: 0 auto;
    display: block;
    padding: 12px 24px;
    background-color: #00ABBF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #ffffff55;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-out, height 0.3s ease-out;
  }
  
  .btn:hover::before {
    width: 400px;
    height: 400px;
  }

  #parrafo {
      text-align: center;
      margin: 0 auto;
      width: 500px;
      margin-top: 40px;
  }
  

.bg-section-5 {
    color: white;
    background-color: #00ABBF;
}

.fila-center {
    margin: 0 auto;
}

.screen1 {
    color: white;
    border-radius: 10px;
    background-color: #00ABBF;
}

.btn-img{
    width: 75px;
}
.screen{
    margin: 0 auto;
}

.screen img {
    width: 100%;
}

.tainer {
    margin-top: 39px;
}

.description {
    margin: 50px auto 30px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    background-color: #00ABBF;
    border-radius: 10px;
    max-width: 500px;
}

.mb-5 {
    margin-bottom: 88px!important;
}

.card {
    border: none!important;

}

.card-p {
    background-color: #008B92!important;
    border-radius: 5px;
}
 
.btm {
    background-color: #00ABBF;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    width: 140px;
    display: block;
    margin: 64px auto 0px;
    transition: 0.1s;
}

.btm:hover {
    transform: scale(1.06);
    box-shadow: 0 15px 5px -10px #005358;
    border-radius: 5px;

}

.bg-section-3 {
    margin-top: 200px!important;
    background-color: #00ABBF;
}

.carta {
    width: 22.5rem!important;
}

section div div div div div div p {
    font-size: 18px;
}

.imgpic {
    border-radius: 50%;
    width: 409px;
    height: 403px;
}



.bg-section-2 {
    margin-top: 250px;
}



.menu-transition {
    transition: 0.10s;
}

.nav-link {
    border-radius: 100px;
    color: white;
}

.nav-link:hover {
    background-color: #90C453;
    color: white;
}




.bg-green {
    background-color: #99CC66;
    height: 80px;
}

.width-header {
    max-width: 1440px;
    margin: 0 auto;

}

.bg-img {
    background-color: white;
    padding: 5px;
}


.card {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 435px;
    background-color: #00737F;
    
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    perspective: 1000px;
    cursor: pointer;
    transition: 0.1s;
    padding: 0;
}

.card:hover {
    transform: scale(1.06);
    
    box-shadow: 0 20px 10px -20px #005358;
} 



  
  .front {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
  }
  
  .back {
    position: absolute;
    color: white;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #00ABBF;
    border-radius: 10px;
    padding: 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
  }
  
  .card:hover .front {
    transform: rotateY(-180deg);
  }
  
  .card:hover .back {
    transform: rotateY(0deg);
  }


.imgNosotros {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: #e2e2e2;
}

.d-block h2, .d-block p {
    width: 400px;
    margin: 0 auto;
}

.m0-a {
    margin-top: 20px!important;
    margin: 0 auto!important;
    display: block;
    padding: 0!important;
}

.butt-form{
    padding: 0;
    width: 140px;
    height: 40px;
}

.footer {
    background-color: #00ABBF;
}

.margin-b {
    margin-bottom: 40px;
}

.font {
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    display: block;
    text-decoration: none;
}

.floating-button {
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00ABBF;
    color: #fff;
    border: 3px solid;
    font-size: 20px;

    cursor: pointer;
  }
  

hr {
    padding: 20px;
    width: 70%;
    margin:  0 auto;
}

@media screen and (max-width: 750px) {
   .tainer {
      margin-top: 40px;
    }
    
    
}


@media screen and (max-width: 1883px) {
    .column2 {
      display: none;
    }
}

@media screen and (max-width: 995px) {
    .bloque {
        display: block;
    }
    .center {
        margin: 0 auto;
    }

    .center p {
        width: 100%;
    }
    
}

@media screen and (max-width: 956px) {
    .section-inicio {
        background-color: #00ABBF;
        height: 600px;
    }
    .paragraph-title {
        font-size: 18px!important;
        margin-bottom: 20px;
    }
}

  /* Estilos de animación */
  .fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }

  .fadeOut {
    animation: fadeOut 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }